{% extends "twitter_auth/base.html" %}

	{% block content %}
		<div id="container">

            {% if not twitter_login %}
                <p><a href="/auth/"><img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" alt="sign in with twitter" /></a></p>
            {% else %}
                <img src="{{user.profile_image_url}}"/>
		    	<h3>{{user.name}}</h3>
			    <p>{{user.screen_name}}<p/>
                <a href="/logout/" title="logout">Logout from Twitter</a>
            {% endif %}

            {% if teleid %}
                <p>Telegram Channel ID: {{ teleid }}</p>
            {% endif %}

            {% if instaid %}
                <p>Instagram Account ID: {{ instaid }}</p>
            {% endif %}


			<form method="POST" class="telegram-channel-id">{% csrf_token %}
                <label for="telegram-id">Your Telegram Channel To Send Post (Optional):</label>
				<input type="text" id="telegram-id" name="telegram-id" value="{% if teleid %}{{teleid}}{% else %}{% endif %}" placeholder="Telegram ID">
				<button type="submit" name="telegram" class="save btn btn-default">Add/Change Telegram Channel</button>
                <button type="submit" name="tele-remove">Remove</button>
			</form>

            <form method="POST" class="insta-info">{% csrf_token %}
                <label for="insta-info">Your Instagram Username And Password (Optional):</label>
                <input type="text" id="insta-un" name="insta-un" value="{% if insta_un %}{{ instaun }}{% else %}{% endif %}" placeholder="Insta Username">
                <input type="text" id="insta-pw" name="insta-pw" value="" placeholder="Insta Password">
                <button type="submit" name="insta" class="save btn btn-default">Add/Change Instagram Page</button>
                <button type="submit" name="insta-remove">Remove</button>
            </form>

			<h1>New Post</h1>
				<form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
				{{ form.as_table }}
				<button type="submit" name="post" class="save btn btn-default">Post</button>
			</form>

			{% if post.published_date %}
				<h1>This is what you have posted recently:</h1>
				<div class="post-text">
					<p>{{ post.text|linebreaksbr }}</p>
                    <p>{{ post.me }}</p>
				</div>
			{% endif %}
		</div>


	{% endblock %}